<div id="<%= dom_id admin %>">
  <p>
    <strong>Username:</strong>
    <%= admin.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= admin.password %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= admin.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= admin.address %>
  </p>

  <p>
    <strong>Credit number:</strong>
    <%= admin.credit_number %>
  </p>

</div>
