<%= stylesheet_link_tag 'application' %>
<table class="table_class">  
<tr>
    <th>Rating</th>
    <th>Feedback</th>
    <th>Review By</th>
    <th>Train Number</th>
  </tr>

<% Review.all.each do |review| %>
  <tr>
    <td><%= review.rating %></td>
    <td><%= review.feedback %></td>
    <%if review.passenger_id == 1 && @result == "Admin"%>
    <td><%= Admin.find_by(id: session[:admin_id]).name %></td>
    <%else%>
    <td><%= Passenger.find(review.passenger_id).name %></td>
    <%end%>
    <td><%= Train.find(review.train_id).train_number %></td>
    <td><%= link_to 'Show', review %></td>
    <th> <%= link_to "Edit", edit_review_path(review, :train_id => review.train_id) %></th>
    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br>
<br>
<%= form_tag(search_review_by_train_number_path, :method => "get") do %>
  <div class="input-group">
    <%= search_field_tag :train_number, params[:train_number], placeholder: "Enter Train Number", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class =>'btn btn-info glyphicon glyphicon-search', :auth_name => nil %>
    </div>
  </div>
<% end %>
<br>
<br>
<%= form_tag(search_review_by_passenger_name_path, :method => "get") do %>
  <div class="input-group">
    <%= search_field_tag :passenger_name, params[:passenger_name], placeholder: "Enter Passenger Name", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class =>'btn btn-info glyphicon glyphicon-search', :auth_name => nil %>
    </div>
  </div>
<% end %>



<%= link_to 'Back to dashboard', admins_path %>
