<table>
  <tr>
    <th>Rating</th>
    <th>Feedback</th>
    <th>Passenger ID</th>
    <th>Train ID</th>
  </tr>

<% Review.all.each do |review| %>
  <tr>
    <td><%= review.rating %></td>
    <td><%= review.feedback %></td>
    <td><%= review.passenger_id %></td>
    <td><%= review.train_id %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>