<table>
  <tr>
    <th>Passenger ID</th>
    <th>Train ID</th>
    <th>Confirmation Number</th>
    <th>Booked on</th>
  </tr>

<% Ticket.all.each do |ticket| %>
  <tr>
    <td><%= ticket.passenger_id %></td>
    <td><%= ticket.train_id %></td> 
    <td><%= ticket.confirmation_number %></td>
    <td><%= ticket.created_at %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= button_to "Destroy", Ticket.find_by(passenger_id: ticket.passenger_id, train_id:ticket.train_id), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Back to dashboard', admins_path %>
