<%= stylesheet_link_tag 'application' %>
<table class="table_class">  
  <tr>
    <th>Passenger ID</th>
    <th>Train ID</th>
    <th>Confirmation Number</th>
    <th>Booked By</th>
    <th>Booked on</th>
  </tr>

<% Ticket.all.each do |ticket| %>
  <tr>
  <td><%= Passenger.find_by(id: ticket.passenger_id).name %></td>
  <td><%= Train.find_by(id: ticket.train_id).train_number %></td> 
  <td><%= ticket.confirmation_number %></td>
  <td><%= Passenger.find_by(id: ticket.booked_by).name %></td>
  <td><%= ticket.created_at %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= button_to "Destroy", Ticket.find_by(passenger_id: ticket.passenger_id, train_id:ticket.train_id), method: :delete %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'Back to dashboard', admins_path %>
