<div id="<%= dom_id train %>">
  <p>
    <strong>Train number:</strong>
    <%= train.train_number %>
  </p>

  <p>
    <strong>Departure station:</strong>
    <%= train.departure_station %>
  </p>

  <p>
    <strong>Termination station:</strong>
    <%= train.termination_station %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= train.departure_date %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= train.departure_time %>
  </p>

  <p>
    <strong>Arrival date:</strong>
    <%= train.arrival_date %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= train.arrival_time %>
  </p>

  <p>
    <strong>Ticket price:</strong>
    <%= train.ticket_price %>
  </p>

  <p>
    <strong>Train capacity:</strong>
    <%= train.train_capacity %>
  </p>

  <p>
    <strong>Seats left:</strong>
    <%= train.seats_left %>
  </p>

</div>
