<div id="<%= dom_id passenger %>">
  <p>
    <strong>Name:</strong>
    <%= passenger.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= passenger.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= passenger.password %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= passenger.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= passenger.address %>
  </p>

  <p>
    <strong>Credit card:</strong>
    <%= passenger.credit_card %>
  </p>

</div>
