<%= stylesheet_link_tag 'application' %>
<table class="table_class">
  <tr>
    <th>Train number</th>
    <th>Departure station</th>
    <th>Termination station</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Arrival date</th>
    <th>Arrival time</th>
    <th>Ticket price</th>
    <th>Train capacity</th>
    <th>Seats left</th>

  </tr>
<% passenger_user = Passenger.find(session[:passenger_id]) %>

<% Train.all.each do |train| %>
  <% if Ticket.find_by(passenger_id: passenger_user.id, train_id:train.id) && train.departure_date<Date.today || (train.departure_date == Date.today && train.departure_time.strftime("%H:%M")<Time.now.strftime("%H:%M")) %>
    <tr>
      <td><%= train.train_number %></td>
      <td><%= train.departure_station %></td>
      <td><%= train.termination_station %></td>
      <td><%= train.departure_date %></td>
      <td><%= train.departure_time.strftime("%H:%M") %></td>
      <td><%= train.arrival_date %></td>
      <td><%= train.arrival_time.strftime("%H:%M") %></td>
      <td><%= train.ticket_price %></td>
      <td><%= train.train_capacity %></td>
      <td><%= train.seats_left %></td>
      <% @review = Review.find_by(passenger_id: passenger_user.id, train_id:train.id) %>
      <% if @review %>
        <th> <%= link_to "Edit your review", edit_review_path(@review, :train_id => train.id) %></th>
      <% else %>
        <td>  <%= link_to "Add reviews", newreview_path(:train_id => train.id) %></td>
      <% end %>  

    </tr>
  <% end %>
<% end %>
</table>

<%= link_to 'Back', passengers_path %>