<p style="color: green"><%= notice %></p>
<% passenger_user = Passenger.find(session[:passenger_id]) %>
<h1>Welcome <%=passenger_user.name %> !</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      
    </tr>
  </thead>

  <tbody>
  
      <tr>
      <td><%=passenger_user.name %></td>
      <td><%=passenger_user.email %></td>
      <td><%=passenger_user.address %></td>
      <td><%=passenger_user.phone %></td>

      </tr>

  </tbody>
</table>

    <td><%= link_to 'Edit profile', edit_passenger_path(passenger_user) %></td>
    <br><td><%= link_to 'Destroy', passenger_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <br><td><%= link_to 'Logout', logout_path %></td>
    <br>
    <br><%= link_to 'Show available trains', ptrain_show_route_path %></td>
    <br><%= link_to 'Show Travel history', booking_show_route_path %></td>
    <br><%= link_to 'Show my bookings', pbooking_route_path %></td>
    <br><%= link_to 'Show my reviews', pshow_reviews_route_path %></td>
<br>


