<%= stylesheet_link_tag 'application' %>
<table class="table_class">
  <tr>
    <th>Train number</th>
    <th>Departure station</th>
    <th>Termination station</th>
    <th>Departure date</th>
    <th>Departure time</th>
    <th>Arrival date</th>
    <th>Arrival time</th>
    <th>Ticket price</th>
    <th>Train capacity</th>
    <th>Seats left</th>
    <th>Average Rating</th>
    <th>Show Reviews</th>


  </tr>
<% passenger_user = Passenger.find(session[:passenger_id]) %>

<% Train.all.each do |train| %>
  <% if train.seats_left > 0 && train.departure_date > Date.today || (train.departure_date == Date.today && train.departure_time.strftime("%H:%M") > Time.now.strftime("%H:%M"))%>
    <tr>
      <td><%= train.train_number %></td>
      <td><%= train.departure_station %></td>
      <td><%= train.termination_station %></td>
      <td><%= train.departure_date %></td>
      <td><%= train.departure_time.strftime("%H:%M") %></td>
      <td><%= train.arrival_date %></td>
      <td><%= train.arrival_time.strftime("%H:%M") %></td>
      <td><%= train.ticket_price %></td>
      <td><%= train.train_capacity %></td>
      <td><%= train.seats_left %></td>
      <%review = Review.where(:train_id => train.id)%>
      <td><%= review.average(:rating).to_i %></td>
      <td><%= link_to 'Train reviews', search_review_by_train_number_path(:train_number => train.train_number) %></td>
      <td><%= link_to 'Book train', newticket_path(:train_id => train.id) %></td>
    </tr>
  <% end %>
<% end %>
</table>
<br>
<%= form_tag(trainstation_filter_route_path, :method => "get") do %>
    <div class="input-group">
      <%= search_field_tag :departure_station, params[:departure_station], placeholder: "Enter Departure Station", class: "form-control" %>
      <%= search_field_tag :termination_station, params[:termination_station], placeholder: "Enter Termination Station", class: "form-control" %>
      <div class="input-group-btn">
        <%= button_tag "Search", :class =>'btn btn-info glyphicon glyphicon-search', :auth_name => nil %>
      </div>
    </div>
    <% end %>

    <br>

<%= form_tag(filter_by_rating_path, :method => "get") do %>
    <%= label_tag :min_rating %>
    <%= select_tag :min_rating, options_for_select([5, 4, 3, 2, 1].map { |n| [n, n] }, params[:min_rating]), include_blank: true %>
    <%= submit_tag "Filter by Rating" %>
  <% end %>
  <br>

<%= link_to 'Back', passengers_path %>