<p style="color: green"><%= notice %></p>

<%= render @passenger %>

<div>
  <%= link_to "Edit this passenger", edit_passenger_path(@passenger) %> |
  <%= link_to "Back to passengers", passengers_path %>

  <%= button_to "Destroy this passenger", @passenger, method: :delete %>
</div>
