<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
  </div>

  <div>
    <%= form.label :feedback, style: "display: block" %>
    <%= form.text_area :feedback %>
  </div>

  <div class="field">
    <%= form.hidden_field :train_id, value: @train.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
