<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  
  <br>
  <%= button_to "Destroy this review", @review, method: :delete %>
  <br>
  
  <% if session[:passenger_id] != nil %>
    <%= link_to "Back to trains", booking_show_route_path %>
  <%else%>
    <th><%= link_to 'Back to reviews', review_show_route_path %></th>
  <%end%>
    
    


</div>
